.containerCards {
    display:flex;
    justify-content:center;
    align-items:center;
    /* border:1px solid green; */
    width:70%;

}
.grid {
display:flex;
justify-content:center;
align-items:center;
flex-direction: row;
grid-gap:10px;
/* border:1px solid red; */
}

.deaths {

    border-bottom: 10px solid rgba(255,0,0,0.8);

}
.infected {
    border-bottom: 10px solid rgba(0,0,255,0.8);
 
    
}
.recovered {
    border-bottom: 10px solid rgba(0,255,0,.8);
}




