.App {
  /* text-align: center; */
}

.container {
  background-color: #e9e3e3;
  /* display:flex;
  justify-content: center;
  align-items:center;
  flex-direction: column; */
}
label {
  display:flex;
}