:root {
	--timer-background-color: #23726e;
--timer-border: 1px solid #000000;
	--timer-height: 100%;
	--timer-width: 100%;
	--button-border: 1px solid #000000;
	--button-text-size: 2em;
}

body, div, p {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

@media screen and (max-width: 1024px) {
	:root {
		--timer-height: 100%;
		--timer-width: 100%;
		--button-text-size: 3em;

}
}